section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  box-sizing: border-box;
  margin-bottom: 20vh;

  header {
    margin: 1em;
    text-align: right;

    h1 {
      color: white;
    }
  }
}

.footer {
  display: flex;
  align-self: flex-end;
  margin-bottom: 1em;
}

.button {
  text-align: left;
  padding: .5em .67em;
  color: white;
  font-size: 3vh;
  text-decoration: none;
  border: .1em solid white;
}

.button-primary {
  color: black;
  background-color: white;
}

