section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 1em;
  box-sizing: border-box;

  header {
    text-align: right;

    h1 {
      font-family: "Jet Brains Mono Medium", serif;
      font-weight: lighter;
      font-size: 8em;
    }

    h5 {
      text-align: right;
      font-size: 2em;
      font-family: "Jet Brains Mono Bold", serif;
    }
  }
}

.footer {
  display: flex;
  margin-bottom: 1em;
}

.button {
  padding: .5em .67em;
  color: white;
  font-size: 3vh;
  text-decoration: none;
  border: .1em solid white;

}

.button-primary {
  color: black;
  background-color: white;
}
