html, body {
  background-color: #191d27;
  color: #d5d5d6;
  font-family: "Libre Baskerville Regular", serif;
}

.muted-text {
  color: #7f8ea3;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
