@font-face {
  font-family: "Jet Brains Mono Regular";
  src: url("../fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
  font-family: "Jet Brains Mono Bold";
  src: url("../fonts/JetBrainsMono-Bold.ttf");
}

@font-face {
  font-family: "Jet Brains Mono Medium";
  src: url("../fonts/JetBrainsMono-Medium.ttf");
}

@font-face {
  font-family: "Jet Brains Mono Italic";
  src: url("../fonts/JetBrainsMono-Italic.ttf");
}
