article {
  h2 {
    color: white;
  }

  hr {
    width: 20vh;
    height: 1px;
    border: none;
    background-color: grey;
    margin: 10vh auto auto 0;
  }
}

@media screen and (min-width: 767px) {
  article {
    margin: 5em;
  }
}

@media screen and (max-width: 767px) {
  article {
    margin: 1em;
  }
}


